<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}       
            <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" media="screen" href="{{ asset('public/css/bootstrap-theme.css') }}"/>
        {% endblock stylesheets %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}
        {% block content %}{% endblock content %}
    {% endblock %}
    
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('public/js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/bootstrap.min.js') }}"></script>
    
{% endblock %}
</body>
</html>
