{% extends '::Base.html.twig'  %}
{% block content %}

    <div id="mensaje" style="display : none;">
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <div class="container">
                <strong>¡Bien hecho!</strong> Usuario Registrado 
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-10 col-lg-10">                        
                <button id="log" type="button" class="btn btn-info">Login</button>                     
            </div><br> 
        </div>
    </div>

    <div id="mensajee" style="display : none;">
        <div class="alert alert-danger">
            <div class="alert alert-success">
                <strong>¡Error!</strong> Usuario No Registrado
            </div>
        </div>
    </div>

    <div style="margin-top: 3%" class="container">
        <form id="form" class="form-horizontal" role="form" >
            <div class="form-group">
                <label class="col-lg-2 control-label">Nombre</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="Nom"
                           placeholder="Nombre">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Apellido Paterno</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="Ap"
                           placeholder="Apellido Paterno">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Apellido Materno</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="Am"
                           placeholder="Apellido Materno">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Email</label>
                <div class="col-lg-8">
                    <input type="email" class="form-control" name="mail"
                           placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Contraseña</label>
                <div class="col-lg-8">
                    <input type="password" class="form-control" name="pass" 
                           placeholder="Contraseña">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Cargo</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="cargo"
                           placeholder="Cargo">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Razon Social</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="Rs"
                           placeholder="Razon Social">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Acepto la Politica de Privacidad
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button id="boton" type="button" class="btn btn-danger">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#boton").click(function () {
                var parametros = $("#form").serialize();
                $.ajax({
                    url: "{{ path('AdminLoginBundle_adduser') }}",
                    type: "POST",
                    data: parametros,
                    success: function () {
                        $("#mensaje").show();
                    },
                    error: function () {
                        $("#mensajee").show();
                    }
                });
            });
            $("#log").click(function () {
                $("#mensaje").hide();
                $("#registro").hide();
                $('#login').fadeIn(1000);
            });
        });
    </script>
{% endblock %}