{% extends '::Base.html.twig'  %}
{% block content %}
    <div id="login" style="margin-top: 3%" class="container">

        <form class="form-horizontal" role="form" action="{{ path('AdminLoginBundle_validuser') }}" method="POST">
            <div class="form-group">
                <label class="col-lg-3 control-label">Email</label>
                <div class="col-lg-5">
                    <input type="email" class="form-control" name="email"
                           placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Contraseña</label>
                <div class="col-lg-5">
                    <input type="password" class="form-control" name="pass" 
                           placeholder="Contraseña">
                </div>
            </div>
            <div class="form-group">                
                <div class="col-lg-offset-6 col-lg-10">                        
                    <ul class="nav nav-pills">
                        <li><a  id="bot" href="#x" >Registrarse</a></li>                            
                    </ul>              
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-10">
                    <input type="submit" class="btn btn-danger" value="Entrar"/>
                </div>
            </div>
        </form>

    </div>

    <div id="registro" class="container">
    </div>

    <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="mySmallModalLabel">Cargando</h4> 
                </div>
                <div class="modal-body">
                    <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                             style="width: 100%">
                            <span class="sr-only">45% completado</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#bot').click(function () {
                event.preventDefault();
                $('#myModal').modal('show');
                $('#registro').load('{{ path('AdminLoginBundle_formulario') }}');
                $("#login").fadeOut(1000);
                window.setTimeout(function () {
                    $('#myModal').modal('hide');
                    $("#registro").show();
                }, 1200);
            });             
        });
    </script>
{% endblock %}